<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Bank Branches</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="navbar">
  <mat-form-field appearance="fill">
    <mat-label>Cities</mat-label>
    <mat-select>
      <mat-option *ngFor="let city of cities" [value]="city.id">
        {{ city.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="navbar-component">
    <mat-form-field class="example-full-width">
      <mat-label>Looking for?</mat-label>
      <input
        type="text"
        placeholder="Search..."
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button
      mat-mini-fab
      color="primary"
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
<div class="section">
  <!-- [dataSource]="" -->
  <table mat-table matSort>
    <ng-container matColumnDef="Favorites">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Favorites</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="IFSC">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>IFSC</th>
      <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
    </ng-container>

    <ng-container matColumnDef="Bank Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank Name</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.color }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.color }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.color }}
      </td>
    </ng-container>

    <ng-container matColumnDef="District">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.color }}
      </td>
    </ng-container>

    <ng-container matColumnDef="State">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.color }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter
        <!-- No data matching the filter "{{ input.value }}" -->
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
